.header_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  background: #161e29;
  padding: 12px 0;
}

.logo_container {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo_container .ngagen_logo {
  width: 36px;
  height: auto;
}

.ngagen_logo_text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.06em;
  margin-left: 8px;
  display: block;
}

.btn_container {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.demo_btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  padding: 10px 45px;
  color: white;
  background: var(--orange-gradient);
  border: none;
  border-radius: 30px;
}
